#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}
.reveal{
    position: relative;
    transform: translateY(144px);
    opacity: 0;
    transition: 1s all ease;
}