@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

:root {
  --brand-color: #3B82F6;
  --darkest-color: #0F172A;
  --dark-color: #304065;
  --mid-color: #426AC6;
  --light-color: #CBD5E1;
  --lightest-color: #FFFFFF;
  --green-color:#4f772d;
}

* {
  font-family: 'Anton', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--light-color);
  box-sizing: border-box;
}
section{
  min-height: 100vh;
}
img{
  border-radius: 1.2rem;
}